.main-heading {
	background-color: red;
	color: #ffffff;
	text-align: center;
	font-family: Helvetica, "Courier New", sans-serif;
	font-size: 50px;
}

.cover-photo {
	height: auto;
	width: 250px;
}

.recipes {
	font-size: 20px;
}

.recipes .odd {
	color: rgb(0, 0, 0);
}

.recipes .even {
	color: red;
}